<h1>Créer son compte</h1>
<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
    <br><br>
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" [(ngModel)]="name" required>
    <br><br>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
    <br><br>

    <label for="role">Rôle :</label>
    <br>
    <input type="radio" id="role-admin" name="role" [(ngModel)]="role" value="admin" checked>
    <label for="role-user">Admin</label>
    <br>
    <input type="radio" id="role-user" name="role" [(ngModel)]="role" value="user">
    <label for="role-seller">User</label>
    <br><br>
    <button type="submit" [disabled]="!registerForm.form.valid">Créer un compte</button>
</form>
<div>{{ message }}</div>